body .employeesTable {
  padding: 10px;
}

.employeesTable table {
  text-align: center;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}